<h1>HEARnow</h1>
<nav>
  <a class="link" href="/songs/new">Upload</a> /
  <a class="link" href="/songs/help">wuuut?</a>
</nav>



	<ul>
	 {{#each songs}}

	  <div class="small-4 columns">

	    <div class="image-wrapper overlay-slide-in-left">

	      

	      <img src="http://placehold.it/300x400">

	      

	      <div class="image-overlay-content">

	        <h2>song name</h2>

	 		 <li><a href=/songs/{{this.id}}>{{this.name}}</a></li> 

	        <p class="description">{{{life_story}}}</p>

	        <a href="#" class="button">Listen</a>

	      </div>
	    </div>

	  </div> 

	  </div>
	 {{/each}}
	</ul>


