<h1>HEARnow</h1>
<nav>
  <a class="link" href="/songs/new">Upload</a> /
  <a class="link" href="/songs/help">wuuut?</a>
</nav>




	<ul>
	 {{#each songs}}

	  <div class="small-4 columns">

	    <div class="image-wrapper overlay-slide-in-left">

	      

	      <img src="http://placehold.it/300x400">

	      

	        <div class="image-overlay-content">

                                  
	 		 	<li><h2><a href=/songs/{{this.id}}>{{this.name}}</a></h2></li> 

	        	<p class="artist">{{{artist}}}</p>

	        	<p class="description">{{{description}}}</p>

	        	<a href="#" class="button">Listen</a>
	      </div>
	    </div>

	  </div> 

	  </div>
	 {{/each}}
	</ul>
