<h1>let everyone (mayb) hear you!</h1>
<form class="new_song" id="new_song" action="/songs" accept-charset="UTF-8" method="post">

<p>
  <input placeholder="name" type="text" name="name" id="song_name" /><br><br>
  <input placeholder="song url" type="text" name="song" id="song_url" /><br><br>

  <input type="submit" name="commit" value="Submit" />
</p>

</form>

<a class="link" href="/songs">nah m8</a>
