<div class="songprofile">
  <h1>track name : {{name}}</h1>
  <br>
  <div class="body">
  <img class="songspicture" src="{{this.image}}"></li>
  <br>
    {{{description}}} <br>
    <a href=./edit/{{this.id}}>edit song</a><br>
    <a class="link" href="/songs/">Homepage</a><br>


  </div>
</div>
