<h1>HEARnow</h1>
<nav>
  <a class="link" href="/songs/new">Upload</a> /
  <a class="link" href="/songs/help">wuuut?</a>
</nav>




	<ul>
	 {{#each songs}}

	  <div class="small-4 columns">

	    <div class="image-wrapper overlay-slide-in-left">

	      

	      <img src="http://placehold.it/300x400">

	      

	        <div class="image-overlay-content">

                                  
	 		 	<li><h2><a href=/songs/{{this.id}}>{{this.name}}</a></h2></li> 

	        	<p class="artist">{{{artist}}}</p>

	        	<p class="description">{{{description}}}</p>

	        	<a href="#" class="button">Listen</a>
	        </div>
	    </div>

	  </div> 

	  </div>
	 {{/each}}
	</ul>

<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
<script>
SC.initialize({
  client_id: '5674633ed2c579ff191eaa6e9f9de6b5'
});

var track_url = 'http://soundcloud.com/forss/flickermood';
SC.oEmbed(track_url, { auto_play: true }).then(function(oEmbed) {
  console.log('oEmbed response: ', oEmbed);
});
</script>