<div class="catprofile">
  <h1>Hi my name is {{name}}</h1>
  <br>
  <div class="body">
  <img class="songspicture" src="{{this.image}}"></li>
  <br>
    {{{life_story}}} <br>
    <a href=./edit/{{this.id}}>edit cat</a><br>
    <a class="link" href="/songs/">Homepage</a><br>


  </div>
</div>
