<div class="help">
  <h1>what am I doing?!?</h1>

  	<p>hearNOW is a simple way to share the music you create, and find other people who like to promote their music too!</p>
  	<br>
  	<p> Each song is available for 12 hours, before the next superstar of self-production can claim their spot!</p>

	    <a href=./edit/{{this.id}}>edit song</a><br>
	    <a class="link" href="/songs/">Homepage</a><br>
</div>